<ion-header>
  <ion-toolbar color= 'primary'>
    <ion-title color = 'light' slot='start' >WELCOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
    <div style = 'text-align:center'>

        <ion-row>
        <ion-col width-50 >
        <ion-button  color = 'dark' shape = 'round' (click)="login()">LogIn</ion-button>
        </ion-col>
        <ion-col width-50 >
        <ion-button color = 'dark' shape = 'round' (click)="register()">Register</ion-button>
        </ion-col>
        </ion-row>
      
        </div>
</ion-content>